.navbar-custom {
    background-color: #163B66;
    position: fixed; /* Fija el navbar */
    top: 0; /* Asegura que esté en la parte superior */
    left: 0;
    right: 0;
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    width: 100%; /* Asegura que ocupe todo el ancho */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para resaltar */
  }
  

.navbar .form-control {
  border-radius: 20px 0 0 20px; 
}

.navbar .btn {
  border-radius: 0 20px 20px 0;
  background-color: #f8f9fa;
  border: none;
}

.navbar .btn:hover {
  background-color: #e0e0e0;
}

/* Ajusta el tamaño del logo en el navbar */
.navbar-logo {
  width: 250px; 
  height: auto;
  margin-left: 32px;
}

.img-custom {
  width: 100%;  /* Asegura que la imagen ocupe todo el ancho disponible */
  height: 200px; /* Ajusta la altura según lo que necesites */
  object-fit: contain; /* Mantiene la imagen completa sin recortarla */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-custom {
  background-color: #f6323f; 
  color: white; 
  font-weight: bold; 
  border: none; 
  transition: background 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px; /* Espacio entre icono y texto */
}

.btn-custom:hover {
  background-color: #d12a35; 
}

.container-custom {
  margin-top: 80px;
}
